   body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: #F5F7FA;
      color: #000;
    }

     .container {
      max-width: 1140px;
      margin: 2rem auto;
      padding: 3rem;
      border-radius: 8px;
    }

    h1 {
      color: #000;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      text-align: center;
    }

    .publish-date {
      color: #808585;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .article-img {
      width: 100%;
      max-width: 760px;
      height: 350px;
      border-radius: 8px;
      margin: 1rem 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .article-text{
        max-width: 760px;
        margin: 0 auto;
        text-align: justify;
    }
    .articles {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }

    .article-card {
      flex: 1;
      background-color: #F5F7FA;
      padding: 1rem;
      border-radius: 8px;
      text-align: left;
    }

    .article-card img {
      width: 100%;
      border-radius: 8px;
    }

    .btn-primary {
      background-color: #0950A1;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      margin-top: 1rem;
    }

    .section-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
     margin-bottom: 1rem;
    }

    .section-header h2 {
    margin: 0;
   }

   .article-card:hover {
  background-color: #e0f3ff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
  
    /* Footer */
    .site-footer {
      background-color: #003355;
      color: white;
      padding: 1rem 2rem;
    }
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-logo {
      height: 35px;
    }

    .footer-center {
      text-align: center;
      flex: 1;
      font-size: 14px;
    }
    .footer-right a {
      margin-left: 12px;
    }
    .footer-right img {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }